<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Library</title>
  <link rel="stylesheet" type="text/css" href="../public/style.css" />
</head>
<body>
  <header>
    <h1>Library</h1>
  </header>
  <main>
    <div id='left'>
      <form id='get-book-form'>
        <label for="get-book-text">Book ID</label>
        <input type="text" name="get-book-text" id="get-book-text" required/>
        <button id="get-book-submit">Show the book</button>
      </form>
      <form id='new-book-form'>
        <label for='new-book-title' class='new-book'>
          <span>Title </span><input type="text" name="new-book-title" id="new-book-title" required/>
        </label>
        <label for='new-book-author' class='new-book'>
          <span>Author </span><input type="text" name="new-book-author" id="new-book-author" required/>
        </label>
        <button id="new-book-submit">Submit</button>
      </form>
      <ul id='book-list'></ul>
      <button id="delete-all-books">Delete all books</button>
    </div>
  
    <div id='right'>
      <p id='messages'></p>
      <div id='book-detail'>
        <h2 id='book-title'></h2>
        <p id='current-book-id'></p>
        <form id='comment-form'>
          <label for="comment-text">Comment</label>
          <input type="text" name="comment-text" id="comment-text" required/>
          <button id="comment-submit">Add the comment</button>
        </form>        
        <ul id='comments'></ul>
        <button id="delete-one-book">Delete this book</button>
        <button id="delete-all-comments">Delete all comments</button>
      </div>
    </div>
  </main>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
  <script type="text/javascript" src="../public/client.js"></script>
</body>
</html>

<!--add author, make comments deletable, search bar, make comments editable-->