@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html {
  padding: env(safe-area-inset);
}

body {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

button {
  background-color: white;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem;
  font-family: inherit;
  height: 2rem;
  margin: 0.2rem;
  outline: none;
  padding: 0.4rem;
  user-select: none;
} 
button:focus {
  border: 0.1rem solid;
}
button:active {
  box-shadow: none;
}

form {
  background-color: rgb(230, 230, 230);
  margin: 0.5rem;
  padding: 1rem;
}

h1 {
  text-align: center;
}

input[type='text']:focus {
  outline-color: grey;
}

li {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0.3rem;
  padding: 1rem;
}

main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
}

ul {
  padding: 0;
}

.books {
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0 0.1rem;
  max-width: 23rem;
}
.books:hover {
  box-shadow: none;
}

.new-book {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

  .page-button {
    box-shadow: none;
    font-weight: bold;
  }
  .page-button:hover {
    font-weight: normal;
  }

.time-tag {
  bottom: 0;
  font-size: 0.7rem;
  position: absolute;
  right: 0;
}

#comments li {
  text-align: left;
  border: 0.1rem solid rgb(200, 200, 200);
  position: relative;
}

#book-detail {
  text-align: center;
  visibility: hidden;
}

#message {
  visibility: hidden;
}

#left {
  display: flex;
  flex-direction: column;
}
  #left button {
    align-self: center;
  }

#right {
  align-self: flex-start;
  padding: 2rem;
  min-width: 17rem;
}
@media screen and (max-width: 800px) {
  #right {
    align-self: center;
  }
}
