@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

html {
  padding: env(safe-area-inset);
}

body {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
  margin: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

button {
  background-color: rgba(203, 181, 139, 1);
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem;
  font-family: inherit;
  font-weight: bold;
  height: 2rem;
  margin: 0.2rem;
  outline: none;
  padding: 0.4rem;
  user-select: none;
} 
button:focus {
  border: 0.1rem solid;
}
button:active {
  box-shadow: none;
}

form {
  background-color: rgb(230, 230, 230, 0.7);
  margin: 0.5rem;
  padding: 1rem;
}

h1, h2 {  
  font-family: "Abril Fatface", serif;
  font-weight: normal;
}

h1 {
  background-color: rgba(88, 66, 42, 0.7);
  color: white;
  margin: 0;
  padding: 0.7rem;
  text-align: center;
}

header {
  margin: 0;  
  position: fixed;
  top: 0;  
  width: 100vw;
}

input {
  background-color: inherit;
  border: none;
  border-bottom: white dotted 0.1rem;
}

input[type='text']:focus {
  outline-color: grey;
}

legend {
  font-family: "Abril Fatface", serif;
}

li {
  list-style-type: none;
  margin: 0.3rem;
  padding: 1rem;
}

/* main {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 800px) {
  main {
    flex-direction: column;
  }
} */

ul {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between; */
  padding: 0;
}

.books {
  background-color: rgb(198, 179, 151);
  box-shadow: 0 0 0.6rem;
  min-width: 10rem;
  max-width: 95%;
}
  .books:hover {
    box-shadow: none;
  }
  .title {
    font-family: "Abril Fatface", serif;
  }
  .author {
    font-weight: bold;
  }

.new-book {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0.5rem 0;
}

.pagination {
  display: flex;
  justify-content: space-between;
}

  .page-button {
    box-shadow: none;
    font-weight: bold;
  }
  .page-button:hover {
    font-weight: normal;
  }

.time-tag {
  bottom: 0;
  font-size: 0.7rem;
  position: absolute;
  right: 0;
}

.comments {
  border: 0.1rem solid rgb(200, 200, 200);
  display: flex;
  justify-content: space-between; 
  position: relative;
  text-align: left;
  max-width: 100%;
}

#book-detail {
  text-align: center;
  visibility: hidden;
}

#message {
  visibility: hidden;
}

#new-book {
  background-image: url("/public/images/background.jpg");
  display: flex;
  justify-content: center;
}

  #new-book-form {
    align-items: center;
    background-color: rgba(88, 66, 42, 0.7);
    color: white;
    display: flex;
    flex-direction: column;  
    justify-content: center;
    margin: 5rem 0;
    padding: 1rem 3rem;
  }

#books {  
  align-items: center;
  background-color: rgba(88, 66, 50);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
  @media screen and (max-width: 800px) {
    #books {
      flex-direction: column;
    }
  }

  #left {
    display: flex;
    flex: 4;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
  }
    #left button {
      align-self: center;
    } 

  #right {
    align-self: flex-start;
    color: white;
    flex: 2;
    max-width: 100%;
    padding: 2rem;
  }
    @media screen and (max-width: 800px) {
      #right {
        align-self: center;
      }
    }
    #comment-form {
      background-color: rgba(88, 66, 50, 0.7);
    }
