@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

body {
  box-sizing: border-box;
  font-family: Raleway, sans-serif;
}

button {
  background-color: white;
  border: none;
  border-radius: 0.3rem;
  box-shadow: 0 0 0.3rem;
  font-family: inherit;
  margin: 0.2rem;
  padding: 0.4rem;
  outline: none;
} 
button:focus {
  border: 0.1rem solid;
}
button:active {
  box-shadow: none;
}

form {
  background-color: rgb(230, 230, 230);
  margin: 0.5rem;
  padding: 1rem;
}

h1 {
  text-align: center;
}

input[type='text']:focus {
  outline-color: grey;
}

li {
  list-style-type: none;
  margin: 0.3rem;
  padding: 1rem;
}

main {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

ul {
  padding: 0;
}

.books {
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0 0.1rem;
}
.books:hover {
  box-shadow: none;
}

#comments li {
  text-align: left;
  border: 0.1rem solid rgb(200, 200, 200);
}

#book-detail {
  text-align: center;
  visibility: hidden;
}

#message {
  visibility: hidden;
}